@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

:root {
  --first-color: #000028;
  --title-color: #555555;
  --text-color: #777777;
  --text-scd-color: #ffffff;
  --body-color: #000000;
  --container-color: #e2e2e2;

  --body-font: 'Poppins', sans-serif;
  --h1-font-size: 1.6rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 1rem;
  --small-font-size: 1em;
  --smaller-font-size: 0.6rem;

  --font-medium: 500;
  --font-bold: 700;

  --mb-0-5: 0.5rem;
  --mb-0-75: 1em;
  --mb-1: 1rem;
  --mb-1-5: 2rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  --z-tooltip: 10;
  --z-fixed: 100;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body
 {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  user-select: none;
  background: #fff;
  color: var(--text-color);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

/*-------------------헤더--------------------*/
#header {
  height: 60px;
  padding: 0 40px;
  background-color: var(--first-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
#header .logo {
  width: 150px;
}
#header .logo a {}
#header .logo a img {
  height: 40px;
  display: block;
}

#header .menu {}
#header .menu ul {
  display: flex;
}
#header .menu ul li {
  margin: 0 15px;
}
#header .menu ul li a {
  display: block;
  font-size: 14px;
  color:#bbb;
  line-height: 60px;
  position: relative;
  transition: color .5s;
}
#header .mypage ul li:hover a {
  color: #fff;
}
#header .menu ul li a:after {  
  content: "";
  display: block;
  position: absolute;
  width: 0%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  opacity: 0;
  transition: opacity .5s, width .5s;
}
#header .menu ul li a:hover:after {  
  opacity: 1;
  width: 100%;
}

#header .mypage {}
#header .mypage ul {
  display: flex;
}
#header .mypage ul li {
  margin: 0 10px;
}
#header .mypage ul li:last-child {
  margin-right: 0;
}
#header .mypage ul li a {
  display: block;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-position: 50% 50%;
  text-indent: -9999px; /*없어도돼*/
  filter:invert(100%);
}
#header .mypage ul li:nth-child(1) a {
  background-image: url(images/sns/search_icon.png);
}
#header .mypage ul li:nth-child(2) a {
  background-image: url(images/sns/fav_icon.png);
}
#header .mypage ul li:nth-child(3) a {
  background-image: url(images/sns/id_icon.png);
}
#header .mypage ul li:nth-child(4) a {
  background-image: url(images/nav_icon.svg);
}
#header .mypage ul li:nth-child(4) {
  display: none;
}


/*-------------------동영상배너--------------------*/
.main .movie_box {
  width: 100%;
  height: 100vh;
  position: relative;
  right: 0;
  padding: 56.25% 0 0 0 ;
}
.main .movie_box .movie_space {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  border: none;
}

.main .scroll {
 position: absolute;
 display: flex;
 right: 50%;
 bottom: 0;
 width: 30px;
 height: 50px;
}


/*-------------------메인--------------------*/
.new_arrivals {
  padding: 20px 0;
}
.new_arrivals .new_title {
  text-align: center;
  margin: 20px 0 40px 0;
}
.new_arrivals .new_title h1 {
  font-weight: 400;
  font-size: 2em;
}
.new_arrivals .new_container {
  width: 1176px;
  text-align: center;
  display: block;
  margin: 0 auto;
}
.new_arrivals .new_container .new_box {
  width: calc(20% - 20px);
  height: 215px;
  margin: 0 10px 20px;
  background-size: contain;
  display: inline-block;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: relative; 
}
.new_arrivals .new_container .new_box_main {
  width: calc(40% - 18px);
  height: 215px;
  margin: 0 10px 20px;
  background-size: cover;
  display: inline-block;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: relative;
}
.new_arrivals .new_container .new_box_main {
  background-image: url(images/newArrivalBg.jpg);
}
.new_arrivals .new_container .new_box:nth-child(2) {
  background-image: url(images/products/new_01_01.jpg);
}
.new_arrivals .new_container .new_box:nth-child(3) {
  background-image: url(images/products/new_02_01.jpg);
}
.new_arrivals .new_container .new_box:nth-child(4) {
  background-image: url(images/products/new_03_01.jpg);
}
.new_arrivals .new_container .new_box:nth-child(5) {
  background-image: url(images/products/new_04_01.jpg);
}
.new_arrivals .new_container .new_box:nth-child(6) {
  background-image: url(images/products/new_05_01.jpg);
}
.new_arrivals .new_container .new_box:nth-child(7) {
  background-image: url(images/products/new_06_01.jpg);
}
.new_arrivals .new_container .new_box:nth-child(8) {
  background-image: url(images/products/new_07_01.jpg);
}
.new_arrivals .new_container .new_box:nth-child(9) {
  background-image: url(images/products/new_08_01.jpg);
}
.new_arrivals .new_container .new_box:nth-child(10) {
  background-image: url(images/products/new_09_01.jpg);
}
.new_arrivals .new_container .new_box:nth-child(11) {
  background-image: url(images/products/new_10_01.jpg);
}

.new_arrivals .new_container .new_box_main .main_txt {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: left;
  padding: 60px 20px;
  overflow: hidden;
  transition: background .5s;
}
.new_arrivals .new_container .new_box_main:hover .main_txt {
  background: rgba(0,0,0,.4);
}
.new_arrivals .new_container .new_box_main .main_txt h1 {
  font-weight: 200;
  font-size: 1.5em;
  color: var(--text-scd-color);
  display: none;
}
.new_arrivals .new_container .new_box_main .main_txt p {
  font-size: .8em;
  font-weight: 200;
  color: var(--text-scd-color);
  display: none;
}
.new_arrivals .new_container .new_box_main:hover .main_txt p,
.new_arrivals .new_container .new_box_main:hover .main_txt h1 {
  display: block;
}
.new_arrivals .new_container .new_box .new_txt {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 60px 20px;
  overflow: hidden;
  transition: background .5s;
}
.new_arrivals .new_container .new_box:hover .new_txt {
  background: rgba(0,0,0,0.5);
}
.new_arrivals .new_container .new_box .new_txt h1 {
  font-weight: 400;
  font-size: .8em;
  color: var(--text-scd-color);
  display: none;
}
.new_arrivals .new_container .new_box .new_txt p {
  font-size: .8em;
  font-weight: 400;
  padding: 10px;
  color: var(--text-scd-color);
  display: none;
}
.new_arrivals .new_container .new_box:hover .new_txt p,
.new_arrivals .new_container .new_box:hover .new_txt h1,
.new_arrivals .new_container .new_box:hover .new_txt a {
  display: block;
  z-index: 1; 
}
.new_arrivals .new_container .new_box .new_txt a {
  margin: 0 auto;
  height: 30px;
  width: 80px;
  padding-top: 5px;
  font-size: .7em;
  font-weight: 400;
  color: var(--text-scd-color);
  overflow: hidden;
  display: none;
  transition: background .5s
              color .5s;
}
.new_arrivals .new_container .new_box .new_txt a:hover {
  color: var(--title-color);
  background: #fff;
}

/*-------------------카테고리--------------------*/
.contents {
  padding-top: 20px;
}
.contents .contents_title {
  text-align: center;
  margin: 20px 0 40px 0;
}
.contents .contents_title h1 {
  font-weight: 400;
  font-size: 2em;
}
.contents .contents_title h2 {
  font-weight: 300;
  margin-top: 20px;
  font-size: 1.4em;
  line-height: 20px;
}
.contents .contents_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contents .contents_container .contents_box {
  width: calc(35% - 30px);
  height: 400px;
  margin: 0 10px;
  background-size: contain;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat; 
}
.contents .contents_container .contents_box:nth-child(1) {
  background-image: url(images/category_01.jpg);
}
.contents .contents_container .contents_box:nth-child(2) {
  background-image: url(images/category_02.jpg);
}
.contents .contents_container .contents_box:nth-child(3) {
  background-image: url(images/category_03.jpg);
}
.contents .contents_container .contents_box .contents_box_txt {
  height: 150px;
  background-color: #e2e2e2;
  margin: 440px 0;
  text-align: center;
}
.contents .contents_container .contents_box .contents_box_txt h1 {
  font-weight: 500;
  font-size: 18px;
  padding: 15px 0;
}
.contents .contents_container .contents_box .contents_box_txt h2 {
  font-weight: 500;
  font-size: 13px;
  margin-bottom: 20px;
}
.contents .contents_container .contents_box .contents_box_txt a {
  background: var(--first-color);
  padding: 7px 25px;
  color: #fff;
  font-weight: 300;
  font-size: 0.8em;
}
.contents .contents_container .contents_box .contents_box_txt a {
  color: var(--first-color);
  background: transparent;
  border: 1px solid var(--first-color);
  padding: 7px 25px;
  font-weight: 300;
  font-size: 0.8em;
  overflow: hidden;
  position: relative;
  transition: background .5
              color .5s;
}
.contents .contents_container .contents_box .contents_box_txt a:hover {
  background: var(--first-color);
  color: var(--text-scd-color);
}

/*-------------------이미지배너--------------------*/
.banner .banner_contents {
  padding: 0 230px;
  margin-top: 250px;
  margin-bottom: 100px;
  text-align: center;
  display: flex;
}
.banner .banner_contents .banner_img {
  background-image: url(images/run\ puma.jpg);
  background-size: cover;
  background-position: 50%;
  width: 590px;
  height: 200px;
}
.banner .banner_contents .banner_txt_box {
  width: 500px;
  height: 200px;
  padding: 10px 20px;
  text-align: left;
  background: var(--first-color);
}
.banner .banner_contents .banner_txt_box h1 {
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 10px;
}
.banner .banner_contents .banner_txt_box p {
  color: #fff;
  font-weight: 300;
  font-size: 10px;
  margin-bottom: 15px;
}
.banner .banner_contents .banner_txt_box a {
  color: #fff;
  font-size: 10px;
  border: 1px solid #fff;
  padding: 5px 10px;
  overflow: hidden;
  transition: background .5s
              color .5s;
}
.banner .banner_contents .banner_txt_box a:hover {
  color: var(--title-color);
  background: #fff;
}


/*-------------------카테고리2--------------------*/
.contents_2 {}
.contents_2 .contents_title_2 {
  text-align: center;
  margin: 20px 0 40px 0;
}
.contents_2 .contents_title_2 h1 {
  font-weight: 400;
  font-size: 2em;
}
.contents_2 .contents_title_2 h2 {
  font-weight: 300;
  margin-top: 20px;
  font-size: 1.4em;
  line-height: 20px;
}
.contents_2 .contents_container_2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contents_2 .contents_container_2 .contents_box_2 {
  width: calc(35% - 30px);
  height: 400px;
  margin: 0 10px;
  background-size: contain;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat; 
}
.contents_2 .contents_container_2 .contents_box_2:nth-child(1) {
  background-image: url(images/collection_01.jpg);
}
.contents_2 .contents_container_2 .contents_box_2:nth-child(2) {
  background-image: url(images/collection_02.jpg);
}
.contents_2 .contents_container_2 .contents_box_2:nth-child(3) {
  background-image: url(images/collection_03.jpg);
}
.contents_2 .contents_container_2 .contents_box_2 .contents_box_2_txt {
  height: 150px;
  background-color: #e2e2e2;
  margin: 440px 0;
  text-align: center;
}
.contents_2 .contents_container_2 .contents_box_2 .contents_box_2_txt h1 {
  font-weight: 500;
  font-size: 18px;
  padding: 15px 0;
}
.contents_2 .contents_container_2 .contents_box_2 .contents_box_2_txt h2 {
  font-weight: 500;
  font-size: 13px;
  margin-bottom: 20px;
}
.contents_2 .contents_container_2 .contents_box_2 .contents_box_2_txt a {
  color: var(--first-color);
  background: transparent;
  border: 1px solid var(--first-color);
  padding: 7px 25px;
  font-weight: 300;
  font-size: 0.8em;
  overflow: hidden;
  position: relative;
  transition: background .5
              color .5s;
}
.contents_2 .contents_container_2 .contents_box_2 .contents_box_2_txt a:hover {
  background: var(--first-color);
  color: var(--text-scd-color);
}


/*-------------------푸터--------------------*/
footer {
  width: 100%;
  padding-top: 240px;
}
footer .footer_container {
  background-image: url(images/footer_bg.jpg);
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  overflow: hidden;
}
footer .footer_container .overlay {
  opacity: .8;
  background: rgba(0,0,0,.6);
}
footer .footer_container img:nth-child(1) {
  width: 100px;
  height: 50px;
  top: 10%;
  left: 1%;
  position: absolute;
}
footer .footer_container img:nth-child(2) {
  width: 250px;
  height: 250px;
  position: absolute;
  display: flex;
  left: 83%;
  top: 50%;
}
footer .footer_container .footer_txt {
  padding: 50px 200px 20px;
  width: 1200px;
  margin: 0 auto;
  
}
footer .footer_container .footer_txt .footer_box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
footer .footer_container .footer_txt .footer_box .footer_main {
  margin: 0 50px;
}
footer .footer_container .footer_txt .footer_box .footer_main ul li {
  width: 50% 50%;
  line-height: 30px;
}
footer .footer_container .footer_txt .footer_box .footer_main ul li h1 {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  border-bottom: 1px solid #fff;
}
footer .footer_container .footer_txt .footer_box .footer_main ul li ul {
  column-count: 2;
  column-gap: 50px;
}
footer .footer_container .footer_txt .footer_box .footer_main ul li ul li a {
  color: #fff;
  font-weight: 100;
  font-size: 11px;
}
footer .footer_container .copyright {
  border-top: 1px solid #aaa;
  width: 680px;
  margin: 0 auto;
}
footer .footer_container p {
  color: #fff;
  font-weight: 100;
  font-size: 11px;
  text-align: center;
  padding: 20px;
}


/*-------------------------------*/
@media (max-width:768px) {
  #header {
    padding: 10px;
  }
  #header .logo {
    width: 100px;
  }
  #header .logo a img {
    height: 30px;
  }
  #header .menu ul li {
    margin: 10px;
  }
  #header .menu ul li a {
    display: block;
    font-size: 14px;
    color:#bbb;
    line-height: 10px;
  }
  #header .mypage ul li {
    margin: 0 5px;
  }
  #header .mypage ul li a {
    width: 15px;
    height: 15px;
  }
  .new_arrivals {
    padding: 0;
  }
  .new_arrivals .new_container {
    width: 760px;
  }
  .new_arrivals .new_container .new_box {
    width: calc(30% - 5px);
    height: 200px;
    margin: 0 10px 20px;
  }
  .new_arrivals .new_container .new_box_main {
    width: calc(60% - 20px);
    height: 200px;
    margin: 20px 25px;
  }
  .new_arrivals .new_container .new_box_main .main_txt h1 {
    font-size: 1.3em;
  }
  .new_arrivals .new_container .new_box_main .main_txt p,
  .new_arrivals .new_container .new_box .new_txt h1,
  .new_arrivals .new_container .new_box .new_txt p {
    font-size: .5em;
  }
  .new_arrivals .new_container .new_box .new_txt a {
    height: 30px;
    width: 50px;
  }
  .banner .banner_contents {
    padding: 30px 30px 0 30px;
  }
  .banner .banner_contents .banner_img {
    height: 220px;
  }
  .banner .banner_contents .banner_txt_box {
    height: 220px;
  }
  .contents_2 .contents_title_2,
  .contents .contents_title {
    margin: 0;
  }
  .contents_2 .contents_title_2 h1,
  .contents .contents_title h1,
  .new_arrivals .new_title h1 {
    font-size: 1.5em;
  }
  .contents_2 .contents_title_2 h2,
  .contents .contents_title h2 {
    font-size: 1em;
    line-height: 10px;
  }
  .contents_2 .contents_container_2 .contents_box_2 .contents_box_2_txt,
  .contents .contents_container .contents_box .contents_box_txt {
    height: 130px;
    margin: 400px 0;
  }
  .contents_2 .contents_container_2 .contents_box_2 .contents_box_2_txt h1,
  .contents .contents_container .contents_box .contents_box_txt h1 {
    font-weight: 600;
    font-size: 11px;
    padding: 15px 0;
  }
  .contents_2 .contents_container_2 .contents_box_2 .contents_box_2_txt h2,
  .contents .contents_container .contents_box .contents_box_txt h2 {
    font-weight: 500;
    font-size: 10px;
  }
  .contents_2 .contents_container_2 .contents_box_2 .contents_box_2_txt a,
  .contents .contents_container .contents_box .contents_box_txt a {
    padding: 6px 20px;
    font-weight: 300;
    font-size: 0.6em;
  }
  footer .footer_container img:nth-child(1) {
    width: 80px;
    height: 50px;
    top: 5%;
    left: 1%;
  }
  footer .footer_container img:nth-child(2) {
    width: 100px;
    height: 100px;
    left: 88%;
    top: 80%;
  }
  footer .footer_container .footer_txt {
    height: auto;
    width: 100%;
    padding: 70px 20px 10px 20px;
  }
  footer .footer_container .footer_txt .footer_box {
    width: 650px;
    margin: 0 auto;
  }
  footer .footer_container .footer_txt .footer_box .footer_main ul li {
    line-height: 25px;
  }
  footer .footer_container .copyright {
    width: 550px;
  }
}